body {
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.field-validation-error {
    color: #ff0000
}


.privacyPoliceInfo {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    background-color: #464646;
    width: 100%;
    color: lightgrey;
    text-align: center;
    padding: 5px 0;
}

.privacyPoliceBtn {
    font-size: 12px;
}
